doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(naem='viewport',content='width=device-width,initial-scale=1')
        title Node Knockout 2015 Project hatch
        link(rel="stylesheet",type="text/css",href="components/skeleton/css/skeleton.css")
        link(rel='stylesheet',type='text/css',href='styles/main.css')
    body
        h1 Node Knockout 2015 Project hatch
        .container
          .row
            .ten.columns#image
              label(for='upload').
                  Upload your file here:
              input.button#upload(name='upload',type='file')
              canvas#canvas
            .two.columns
              div#vote-nko
                span Vote for Us:
                iframe(src='http://nodeknockout.com/iframe/hatch',frameborder=0,scrolling=no,allowtransparency=true,width=115,height=25)
        script(type='text/javascript',data-main='js/main.js',src='components/requirejs/require.js')
