* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: #EEE;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

h2 {
    font-family: "Merriweather", "Roboto", sans-serif;
    margin-top: 15px;
}

#vote-nko span {
  font-weight: bold;
}

#canvas {
  display: inherit;
}

#play_stop, #wait {
  display: none;
}
